<h1>Bestellingen</h1>

<% if current_user.employee_role? %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Winkel</th>
    <th>Afgehandeld</th>
    <th>Klant</th>
    <th>Opgehaald</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <% @orders.each do |order| %>
      <tbody>
      <tr>
        <td><%= order.store.store_name %></td>
        <% if order.ready? %>
          <td>Ja</td>
        <% else %>
            <td>Nee</td>
        <% end %>
        <td><%= order.customer.email %></td>
        <% if order.payed? %>
            <td>Ja</td>
        <% else %>
            <td>Nee</td>
        <% end %>
        <td><%= link_to 'Bekijk', order_path(order), class: "btn btn-default" %></td>
        <td><%= link_to 'Behandel', edit_order_path(order), class: "btn btn-warning" %></td>
      </tr>
      </tbody>
  <% end %>
</table>
<% else %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Winkel</th>
        <th>Datum</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <% @orders.each do |order| %>
          <tbody>
          <tr>
            <td><%= order.store.store_name %></td>
            <td><%= order.created_at %></td>
            <td><%= link_to 'Bekijk', order_path(order), class: "btn btn-default" %></td>
          </tr>
          </tbody>
      <% end %>
    </table>
<% end %>

<%= link_to "Nieuwe Bestelling", new_order_path, class: 'btn btn-success' %>
