<row class="clearfix">
  <h1>Bestelling <%= @order.id %></h1>
</row>

<row class="clearfix">
  <div class="col-md-6">
    <h3>Afhaal Winkel</h3>
    <%= @order.store.store_name %><br>
    <%= @order.store.store_address %><br>
    <%= @order.store.store_zip %><br>
    <%= @order.store.store_city %><br>
    <%= @order.store.store_telephone %><br>
  </div>
  <div class="col-md-6">
    <h3>Klant</h3>
    <%= @order.customer.first_name %> <%= @order.customer.insertion %> <%= @order.customer.last_name %><br>
    <%= @order.customer.address %><br>
    <%= @order.customer.zip %><br>
    <%= @order.customer.city %><br>
    <%= @order.customer.email %><br>
  </div>
</row>

<row>
  <div class="col-md-12">
    <h2>Producten</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Product</th>
        <th>Aantal</th>
        <th>Per stuk</th>
        <th>Bedrag</th>
      </tr>
      </thead>
    <% @order.order_items.each do |item| %>
        <tbody>
          <tr>
            <td><%= item.product.product_name %></td>
            <td><%= item.amount %></td>
            <td><%=  number_to_currency(item.product.product_price, :unit => "€") %></td>
            <td></td>
          </tr>

        </tbody>
    <% end %>
    </table>

    <% unless @order.ready? %>
        <% if @order.customer_id == current_user.id %>
          <h2>Voeg producten toe</h2>
          <%= simple_form_for([@order, @order.order_items.build], html: {class: 'form-inline'}) do |f| %>
              <%= f.collection_select(:product_id, @products, :id, :product_name, {class: "dropdown-menu"}) %>

            <div class="form-group col-sx-2">
              <%= f.input :amount, class: 'form-control'%>
            </div>

            <%= f.button :submit, class: 'form-control' %>
          <% end %>
      <% end  %>
    <% end %>
  </div>
</row>

<row>
  <div class="col-md-6">
    <h3>Status</h3>
    <% if @order.ready? %>
      Bestelling ligt klaar<br>
      Afgehandeld door: <%= @order.employee.first_name %> <%= @order.employee.insertion %> <%= @order.employee.last_name %><br>
    <% else %>
        Bestelling is in behandeling<br>
    <% end %>


    Afgehaald:
    <% if @order.payed? %>
      Ja
    <% else %>
      Nee
    <% end %>
    <br>
    <% if current_user.employee_role? %>
        <td><%= link_to 'Behandelen', edit_order_path(@order), class: "btn btn-warning" %></td>
    <% end %>
  </div>
</row>