<h1>Contact</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Stad</th>
    <th>Adres</th>
    <th>Postcode</th>
    <th>Telefoon</th>
    <th>Email</th>
    <th>Openingstijden</th>
  </tr>
  </thead>
  <% Store.all.each do |store| %>
    <tbody>
    <tr>
      <td><%= store.store_city %></td>
      <td><%= store.store_address %></td>
      <td><%= store.store_zip %></td>
      <td><%= store.store_telephone %></td>
      <td><%= store.email %></td>
      <td>Ma - Vr <strong>09:00 - 17:00</strong><br>
          Za <strong>09:00 - 16:00</strong><br>
          Zo <strong>12:00 - 16:00</strong><br>
          Nationale feestdagen gesloten
      </td>
    </tr>
    </tbody>
  <%end%>

</table>
<center>
  <h1>Nieuwe winkel: Almere</h1>
  <%= image_tag('dronten.jpg', class: 'img-responsive') %>
</center>