<!DOCTYPE html>
<html>
  <head>
    <title>FlowerPower</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
  <% end %>
  <div class="top-bar">
  <row class="clearfix">

      <div class="col-md-2">
        <%= image_tag('logo.png', :class => "img-responsive", :width => '70%') %>
      </div>
      <div class="col-md-6">
        <h1>FlowerPower</h1>
      </div>
      <div class="col-md-4 account-links">
        <% if user_signed_in? %>
            <p>Hallo, <strong><%= current_user.first_name %> <%= current_user.insertion %> <%= current_user.last_name %> </strong></p>
            <%= link_to('Account Aanpassen', edit_user_registration_path, class: 'btn btn-info') %>
            <%= link_to('Log uit', destroy_user_session_path, :method => :delete, class: 'btn btn-danger') %>

        <% else %>

            <%= link_to('Registreer', new_user_registration_path, class: 'btn btn-success')  %>
            <%= link_to('Log in', new_user_session_path, class: 'btn btn-primary')  %>

        <% end %>
      </div>

  </row>
  </div>

  <row>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to 'Home', root_path %></li>
        <li role="presentation"><%= link_to 'Artikelen', products_path %></li>
        <li role="presentation"><%= link_to 'Bestellingen', orders_path %></li>
        <li role="presentation"><%= link_to 'Contact', '/pages/contact' %></li>
        <% if user_signed_in? && current_user.employee_role? %>
            <li role="presentation"><%= link_to rails_admin_path, class: 'login-button' do %>Klanten bekijken<% end %></li>
        <% end %>

      </ul>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </row>
  </body>
</html>
